target
.mvn
mvnw
mvnw.cmd
!**/src/main/**/target/
!**/src/test/**/target/
!target/generated-sources/archetype
**/.DS_Store

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/
